.landing-page {
  background-color: #f2f5f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #f2f5f9;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.landing-page .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 104px;
  justify-content: space-between;
  left: 100px;
  padding: 44px 0px;
  position: absolute;
  top: 18px;
  width: 1240px;
}

.landing-page .logo {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  margin-bottom: -33px;
  margin-top: -33px;
  padding: 20px 0px;
  position: relative;
}

.landing-page .beatrice-wambui {
  flex: 0 0 auto;
  margin-right: -0.44px;
  position: relative;
}

.landing-page .ph-moon {
  height: 64px;
  margin-bottom: -24px;
  margin-right: -4px;
  margin-top: -24px;
  position: relative;
  width: 64px;
}

.landing-page .profile-details {
  height: 804px;
  left: 100px;
  position: absolute;
  top: 170px;
  width: 400px;
}

.landing-page .about-me-section {
  height: 720px;
  left: 510px;
  position: absolute;
  top: 264px;
  width: 840px;
}

.landing-page .overlap-group {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #00000040;
  height: 700px;
  left: 10px;
  position: relative;
  top: 10px;
  width: 820px;
}

.landing-page .about-me-heading {
  align-items: center;
  display: inline-flex;
  gap: 32px;
  left: 72px;
  position: absolute;
  top: 18px;
}

.landing-page .frame {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 212px;
}

.landing-page .text-wrapper {
  color: #0b0909;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 40px;
  margin-left: -8.5px;
  margin-right: -8.5px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .line {
  height: 4px;
  margin-right: -1px;
  position: relative;
  width: 254px;
}

.landing-page .about-me-details {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 71px;
  padding: 0px 10px;
  position: absolute;
  top: 92px;
}

.landing-page .hello-there-i-m {
  color: #000000;
  font-family: "Raleway-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.landing-page .about-subheading {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 71px;
  padding: 10px;
  position: absolute;
  top: 228px;
}

.landing-page .text-wrapper-2 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 40px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .web-development {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 73px;
  position: absolute;
  top: 306px;
}

.landing-page .div-2 {
  background-color: #ffebd1;
  border-radius: 20px;
  height: 169px;
  position: relative;
  width: 333px;
}

.landing-page .web-development-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 15px;
  padding: 10px;
  position: absolute;
  top: 2px;
}

.landing-page .web-development-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.landing-page .img {
  height: 24px;
  position: relative;
  width: 24px;
}

.landing-page .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .p {
  color: #000000;
  font-family: "Raleway-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 20px;
  position: relative;
  width: fit-content;
}

.landing-page .app-development {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 433px;
  position: absolute;
  top: 306px;
}

.landing-page .app-development-card {
  height: 169px;
  position: relative;
  width: 333px;
}

.landing-page .app-details {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 19px;
  padding: 10px;
  position: absolute;
  top: 2px;
}

.landing-page .app-development-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
}

.landing-page .text-wrapper-4 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .UI-UX-section {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 73px;
  position: absolute;
  top: 499px;
}

.landing-page .UI-UX-design-card {
  background-color: #f2f7fc;
  border-radius: 20px;
  height: 169px;
  position: relative;
  width: 333px;
}

.landing-page .UI-UX-details {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 8px;
  padding: 10px;
  position: absolute;
  top: 14px;
}

.landing-page .UI-UX-heading {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.landing-page .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 40px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .mentorship {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 433px;
  position: absolute;
  top: 499px;
}

.landing-page .mentorship-details {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 15px;
  padding: 10px;
  position: absolute;
  top: 4px;
}

.landing-page .mentorship-heading {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.landing-page .mentor-icon {
  height: 24px;
  position: relative;
  width: 30px;
}

.landing-page .nav-bar {
  align-items: center;
  box-shadow: 0px 0px 4px #00000040;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 839px;
  position: absolute;
  top: 164px;
}

.landing-page .nav-card {
  background-color: #f2f7fc;
  border-radius: 20px;
  height: 100px;
  position: relative;
  width: 503px;
}

.landing-page .nav-cards {
  align-items: center;
  display: inline-flex;
  gap: 40px;
  justify-content: center;
  left: 31px;
  position: absolute;
  top: 10px;
}

.landing-page .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.landing-page .rectangle {
  background: linear-gradient(
    180deg,
    rgb(255, 156, 26) 0%,
    rgb(232, 5, 5) 100%
  );
  border-radius: 20px;
  height: 80px;
  position: relative;
  width: 80px;
}

.landing-page .home {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  left: 23px;
  position: absolute;
  top: 16px;
}

.landing-page .text-wrapper-6 {
  color: #ffffff;
  font-family: "Raleway-SemiBold", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .div-4 {
  background-color: #e1e7ef;
  border-radius: 20px;
  height: 80px;
  position: relative;
  width: 80px;
}

.landing-page .resume {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  left: 17px;
  position: absolute;
  top: 13px;
}

.landing-page .text-wrapper-7 {
  color: #000000;
  font-family: "Raleway-SemiBold", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .work {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  left: 25px;
  position: absolute;
  top: 14px;
}

.landing-page .contact {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  left: 17px;
  position: absolute;
  top: 16px;
}
